/* ==========================================================================
	 .btn
	 ========================================================================== */

.btn {
	border-radius: 32px;
	text-transform: uppercase;
	font-weight: 500;
	min-width: 215px;
	padding-block: 12px;
}
