/* ==========================================================================
	 .hero
	 ========================================================================== */

.hero {
	position: relative;
	z-index: 1;
	color: #fff;
	padding-top: 40px;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 395px;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		opacity: 0.8;
	}

	@include media-breakpoint-up(md) {
		padding-top: 87px;
	}

	.hero__bg {
		--bg-size: 280%;
		position: absolute;
		z-index: -2;
		left: 0;
		top: 0;
		width: 100%;
		height: min(60vh, 100%);
		background-image: url('/images/image-8.jpg');
		background-repeat: no-repeat;
		background-position: 61% 48%;
		background-size: var(--bg-size);
		mask-image: url('/images/image-3.png');
		mask-repeat: no-repeat;
		mask-position: top;
		mask-size: 120vh;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #010a2c;
			opacity: 0.25;
		}

		@include media-breakpoint-up(md) {
			--bg-size: 250%;
			mask-size: 160vw;
			height: 90vw;
		}

		@include media-breakpoint-up(lg) {
			--bg-size: 200%;
			mask-size: 120vw;
			height: 60vw;
		}

		@include media-breakpoint-up(xl) {
			--bg-size: 180%;
			height: 70vw;
			mask-size: 110vw;
		}

		@include media-breakpoint-up(xxl) {
			--bg-size: 200%;
			height: 50vw;
			mask-size: 100vw;
		}

		@media only screen and (min-width: 2001px) {
			mask-image: url('/images/shape-large.png');
			mask-size: 130%;
		}

		@media only screen and (min-width: 2500px) {
			--bg-size: 150%;
			mask-size: 100%;
		}

		> img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.hero__header {
		text-align: center;
		margin-bottom: 25px;

		@include media-breakpoint-up(sm) {
			margin-bottom: 50px;
		}

		h1 {
			font-weight: 300;
			letter-spacing: 0.03em;
			margin-bottom: 12px;
			font-size: 24px;

			@include media-breakpoint-up(md) {
				font-size: 32px;
			}

			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}

			@include media-breakpoint-up(xxl) {
				font-size: 48px;
			}
		}

		p {
			font-size: 24px;
			letter-spacing: 0.02em;
			font-size: 20px;

			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}
	}

	.hero__logo {
		max-width: 70px;
		margin: 0 auto 40px;

		@include media-breakpoint-up(md) {
			max-width: 80px;
		}

		@include media-breakpoint-up(lg) {
			max-width: 97px;
		}

		@include media-breakpoint-up(xxl) {
			margin: 0 auto 103px;
		}
	}

	.hero__content {
		margin-bottom: 30px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 62px;
		}
	}

	.hero__actions .btn {
		@include media-breakpoint-up(sm) {
			min-width: 232px;
			padding-block: 17px;
		}
	}

	.row {
		flex-direction: column-reverse;
		gap: 40px;

		@include media-breakpoint-up(md) {
			flex-direction: row;
			gap: 0;
		}
	}

	.box-wrapper {
		display: flex;
		justify-content: center;

		@include media-breakpoint-up(md) {
			justify-content: flex-end;
			align-items: center;
		}

		@include media-breakpoint-up(xxl) {
			align-items: flex-end;
			padding-bottom: 125px;
		}
	}

	.hero__image {
		position: relative;
		max-width: 260px;
		margin: 0 auto;

		@include media-breakpoint-up(md) {
		}

		@include media-breakpoint-up(lg) {
			max-width: 300px;
		}

		@include media-breakpoint-up(xxl) {
			max-width: 27vw;
		}
	}
}
