/* ==========================================================================
	 .section-services
	 ========================================================================== */

.section-services {
	--col-gap: 25px;
	--row-gap: 25px;

	position: relative;
	padding: 40px 0;

	@include media-breakpoint-up(md) {
		padding: 93px 0 111px;
	}

	&:before {
		content: '';
		z-index: -1;
		background-image: url('/images/image-6.png');
		background-repeat: no-repeat;
    background-size: contain;
		position: absolute;
    bottom: -570px;
    right: 40%;
    width: 2590px;
    height: 3100px;
	}

	.section-services__title {
		text-align: center;
		font-weight: 300;
		margin-bottom: 80px;
		letter-spacing: .03em;
	}

	.row {
		margin: calc(-1 * var(--row-gap)) calc(-1 * var(--col-gap));
	}

	.service-wrapper {
		padding: var(--row-gap) var(--col-gap);
	}
}
