/* ==========================================================================
	 .service
	 ========================================================================== */

.service {
	display: flex;
	align-items: center;
	gap: 30px;

	.service__icon {
		flex: 0 0 85px;
		max-width: 85px;

		@include media-breakpoint-up(md) {
			flex: 0 0 105px;
			max-width: 105px;
		}

		img {
			width: 100%;
		}
	}

	.service__body {
		h4 {
			font-weight: 300;
			letter-spacing: .02em;
			margin-bottom: 0;
		}

		strong {
			font-size: 18px;
		}
	}
}
