/* ==========================================================================
	 Base
	 ========================================================================== */

.image-fit {
	position: relative;
	overflow: hidden;

	img,
	video,
	svg,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// .image-fit--contain
.image-fit--contain {
	img,
	video,
	svg,
	iframe {
		object-fit: contain;
	}
}

a {
	text-decoration: none;
	color: var(--color-links);
}

ul, ol {
	padding-left: 0;
}
